/RPi_PIC/nslave.X/nbproject/private/
/RPi_PIC/nslave.X/build/default/
/RPi_PIC/nslave.X/dist/default/
/RPi_PIC/nslaven.X/nbproject/private/
/RPi_PIC/nslaven.X/build/default/
/RPi_PIC/nslaven.X/dist/default/
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
modules.builtin
Module.symvers
*.dwo
!.gitignore
!.mailmap
/hand/finger.X/nbproject/private/
/hand/finger.X/dist/default/
/hand/finger.X/build/default/